.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.clients__item {
  width: calc((100% - 60px) / 2);
  margin: 15px;

  color: #afb1b8;

  // width: calc((100% - 150px) / 6);

  // margin-left: 30px;
  // &:first-child {
  //   margin-left: 0;
  // }
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border 250ms var(--transition-function), color 250ms var(--transition-function);
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
  }
}
.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
