.features {
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.features__item {
  @media screen and(max-width:767px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and(min-width:768px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media screen and(min-width:1200px) {
    width: calc((100% - 120px) / 4);
  }
  // width: calc((100% - 90px) / 4);
  // margin-right: 30px;
  //   &:last-child {
  //     margin-right: 0px;
}
.features__container {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  // @media screen and(min-width:480px) {
  //   width: 480px;
  //   margin-right: auto;
  //   margin-left: auto;
  // }
}
.features__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;

  color: $title-text-color;

  text-transform: uppercase;
  @media screen and(max-width:767px) {
    text-align: center;
  }
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
}
