.menu {
  @media screen and(min-width:768px) {
    display: none;
  }
}
.menu__open-btn,
.menu__close-btn {
  display: block;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.menu__container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: $primery-white-color;
  padding-top: 10px;
  padding-bottom: 48px;

  z-index: 1;
  .cont {
    padding-right: 15px;
    padding-left: 40px;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.menu__icon-close {
  fill: $title-text-color;
  transition: fill 250ms $transition-function;

  .menu__close-btn:hover &,
  .menu__close-btn:focus & {
    fill: $accent-color;
  }
}
.menu__icon {
  fill: $title-text-color;
  transition: fill 250ms $transition-function;
  .menu__open-btn:hover &,
  .menu__open-btn:focus & {
    fill: $accent-color;
  }
}

.menu__item,
.contacts-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: $title-text-color;

  transition: color 250ms var(--transition-function);

  text-decoration: none;
  &--curent {
    color: $accent-color;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.contacts-menu {
  margin-bottom: 64px;
}
.contacts-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  // color: $primery-text-color;
  color: $accent-color;
  transition: color 250ms var(--transition-function);

  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $primery-text-color;
  transition: color 250ms var(--transition-function);

  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.social-menu {
  display: flex;
}
.social-menu__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}
.social-menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;
  // color: $primery-text-color;
  color: $accent-color;
  transition: color 250ms var(--transition-function);
  &:hover,
  &:focus {
    color: $accent-color;
  }
  cursor: pointer;
}
